.input{
    position: relative;
    width:70%;
    background: #ffffff;
    border: 1px solid #dde3e7;
    border-radius: 4px;
    padding: 0 10px;
    height: 50px;
    line-height: 50px;
    vertical-align: middle;
}

.input:hover{
    border-color: #b6babd;
}

.input:focus{
    border-color: #b6babd;
    outline: none; 
}